doctype html  
html
    head
        block title
            title Night-Life
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/public/css/bootstrap.min.css')
        link(rel='stylesheet' href='/public/css/bootstrap.css.map')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet' href='/public/css/style.css')
        link(rel='stylesheet' media='screen and (max-width: 600px)' href='/public/css/mobilizer.css')
        link(rel='stylesheet' media='screen and (max-width: 800px) and (orientation: landscape)' href='/public/css/mobilizer.css')
        link(rel='icon' href='/public/img/favicon.ico' type='image/x-icon')
    body
        div.container-fluid.modal-hidden
        div.container-fluid.page-hidden
            div.loader
            p.loader-text loading...
        div.container-fluid.top-hidden
            div.row.top-hidden-row
                div.col-sm-1.text-center 
                    a#home(href='/')
                        strong home
                div.col-sm-offset-1.col-sm-8.top-hidden-col-middle
                    div.input-group
                        span.input-group-addon Location:
                        input.form-control.input-lg#location-input-hidden(type='text' placeholder='Enter Location')
                        span.input-group-addon.cursor-button#get-location-hidden(title='Current Location')
                            i.glyphicon.glyphicon-map-marker
                        span.input-group-addon.cursor-button#search-button-hidden Search 
                            i.glyphicon.glyphicon-search
                div.col-sm-offset-1.col-sm-1.text-center.top-hidden-col-right
                    if (id)
                        div.dropdown
                            if (where == 'unknown')
                                a.dropdown-toggle(type="button" id="menu1" data-toggle="dropdown") 
                                    strong #{username} 
                                    span.glyphicon.glyphicon-chevron-down
                                div.dropdown-menu(role="menu" aria-labelledby="menu1")
                                    p(role="presentation") you are free tonight
                                    p(role="presentation")
                                        a#main-link-hidden(role="menuitem" tabindex="1" href="/logout" data-auth='true')
                                            strong logout
                            else
                                a.dropdown-toggle(type="button" id="menu1" data-toggle="dropdown") 
                                    strong #{username} 
                                    span.glyphicon.glyphicon-chevron-down
                                div.dropdown-menu(role="menu" aria-labelledby="menu1")
                                    p(role="presentation") you are going to #{where} tonight
                                    p(role="presentation")
                                        a(role="menuitem" tabindex="1" href='/removeperson/' + whereId) 
                                            strong free yourself
                                    p(role="presentation")
                                        a#main-link-hidden(role="menuitem" tabindex="2" href="/logout" data-auth='true' data-where=whereId)
                                            strong logout
                    else
                        a(href='/auth/github')
                            strong login
        div.container-fluid.top
            div.row.top-top-row
                div.col-sm-1.text-center 
                    a#home(href='/')
                        strong home
                div.col-sm-offset-10.col-sm-1.text-center.top-top-row-col
                    if (id)
                        div.dropdown
                            if (where == 'unknown')
                                a.dropdown-toggle(type="button" id="menu1" data-toggle="dropdown") 
                                    strong #{username} 
                                    span.glyphicon.glyphicon-chevron-down
                                div.dropdown-menu(role="menu" aria-labelledby="menu1")
                                    p(role="presentation") you are free tonight
                                    p(role="presentation")
                                        a#main-link(role="menuitem" tabindex="1" href="/logout" data-auth='true')
                                            strong logout
                            else
                                a.dropdown-toggle(type="button" id="menu1" data-toggle="dropdown") 
                                    strong #{username} 
                                    span.glyphicon.glyphicon-chevron-down
                                div.dropdown-menu(role="menu" aria-labelledby="menu1")
                                    p(role="presentation") you are going to #{where} tonight
                                    p(role="presentation")
                                        a(role="menuitem" tabindex="1" href='/removeperson/' + whereId) 
                                            strong free yourself
                                    p(role="presentation")
                                        a#main-link(role="menuitem" tabindex="2" href="/logout" data-auth='true')
                                            strong logout
                    else
                        a#login(href='/auth/github')
                            strong login
            div.row.top-middle-row
                div.col-sm-12.top-middle-row-col
                    div.text-center
                        h3 
                            strong Search All Bars with Location Keywords
                    div.input-group
                        span.input-group-addon Location:
                        input.form-control.input-lg#location-input(type='text' placeholder='Enter Location')
                        span.input-group-addon.cursor-button#get-location(title='Current Location')
                            i.glyphicon.glyphicon-map-marker
                        span.input-group-addon.cursor-button#search-button Search 
                            i.glyphicon.glyphicon-search
                    div.geo-alert
            div.row.top-bottom-row
                p  | Searchable data supplied from 
                    a(href='https://www.yelp.com') yelp.com
                p Location data from 
                    a(href='https://console.developers.google.com/apis/library/geolocation.googleapis.com') Google Maps Geolocation
        div.container-fluid.middle
            div.row.text-center.middle-top-row
            block content
        div.container-fluid.bottom
            div.row.bottom-row.text-right
                a(href='https://github.com/BezginBack') erdem @ 2017
        script(src='/public/js/jquery-3.2.1.min.js')
        script(src='/public/js/bootstrap.min.js')
        script(src='/common/commonFunctions.js')
        script(src='/controllers/mainController.js')
        block script